# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules/
/node_modules
/.pnp
.pnp.js

# backend
backend/node_modules/
backend/node_modules/*
backend/.bash_profile

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/src/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.DS_Store
.idea/The life of i.iml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
Mockups/

